
.vs/KAOP/v15/Server/sqlite3/db.lock
.vs/KAOP/v15/Server/sqlite3/storage.ide
.vs/KAOP/v15/Server/sqlite3/storage.ide-shm
.vs/KAOP/v15/Server/sqlite3/storage.ide-wal
KAOP/.vs/KAOP/v15/.suo
KAOP/.vs/KAOP/v15/Server/sqlite3/db.lock
KAOP/.vs/KAOP/v15/Server/sqlite3/storage.ide
KAOP/.vs/KAOP/v15/Server/sqlite3/storage.ide-shm
KAOP/.vs/KAOP/v15/Server/sqlite3/storage.ide-wal
KAOP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KAOP/obj/Debug/KAOP.csproj.CoreCompileInputs.cache
KAOP/obj/Debug/KAOP.csprojAssemblyReference.cache
KAOP/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KAOP/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KAOP/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/KAOP/DesignTimeBuild/.dtbcache
.vs/KAOP/v15/.suo
KAOP/bin/Debug/KAOP.pdb
KAOPTest/bin/Debug/Log/2018-11-07.TXT
KAOPTest/bin/Debug/KAOPTest.pdb
KAOP/bin/Debug/KAOP.dll
KAOP/bin/Debug/log4net.dll
KAOPTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KAOPTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KAOPTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KAOPTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KAOP/obj/Debug/KAOP.csproj.CopyComplete
KAOP/obj/Debug/KAOP.csproj.FileListAbsolute.txt
KAOP/obj/Debug/KAOP.dll
KAOP/obj/Debug/KAOP.pdb
KAOPTest/bin/Debug/KAOP.dll
KAOPTest/bin/Debug/KAOP.pdb
KAOPTest/bin/Debug/KAOPTest.exe
KAOPTest/bin/Debug/KAOPTest.exe.config
KAOPTest/bin/Debug/Log/2018-11-08.TXT
KAOPTest/bin/Debug/Log/2018-11-10.TXT
KAOPTest/bin/Debug/log4net.config
KAOPTest/bin/Debug/log4net.dll
KAOPTest/obj/Debug/KAOPTest.csproj.CopyComplete
KAOPTest/obj/Debug/KAOPTest.csproj.CoreCompileInputs.cache
KAOPTest/obj/Debug/KAOPTest.csproj.FileListAbsolute.txt
KAOPTest/obj/Debug/KAOPTest.csprojAssemblyReference.cache
KAOPTest/obj/Debug/KAOPTest.exe
KAOPTest/obj/Debug/KAOPTest.pdb
